<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NHL Data Template</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<style>
        a {
            text-decoration: none;
			color: black;
             
        }
	</style>
</head>
<body>	
	<div class="container">
		<div class="container">
			<div class ="row">
			<div class="col-12 text-center">
				##BUTTON##
			</div>
			</div>	
		</div>
		
		<div class="row">
            <div class="col-12 col-md-6 text-md-left">
                <a href="/previous" class="btn btn-primary">Previous</a>
				<a href="/next" class="btn btn-primary">Next</a>
			</div>
        </div>
			

		<div class="text-center">
			<br>
			<br>
			<br>
			<img src=##IMAGE_SRC## alt=##IMAGE_ALT## style="height: 200px; width: 200px">
			<br>
			<br>
			<br>
		</div>
		
		<div class="row">
			<div class="col-12 text-center">
				<br>
				<br>
				<h1> ##TITLE## </h1>
				<br>
				<br>
				<br>
				
			</div>

			<div class="col-sm-6 col-md-12 text-center">

				<div>
					<canvas id="myChart"></canvas>
				  </div>

				  
				<table class="table">
					##TABLE_DATA##
				</table>
			</div>
		</div>
	</div>
</body>
</html>

<script>
	const ctx = document.getElementById('myChart');
  
	new Chart(ctx, {
	  type: 'bar',
	  ##CHART_DATA##
	  options: {
		scales: {
		  y: {
			beginAtZero: true
		  }
		}
	  }
	});
  </script>
